
*.opensdf
*.sdf
*.tlog
*.obj
*.suo
cpp_test/Resource.aps
cpp_test/ipch/cpp_test-f9d24e16/cpp_test-602f856e.ipch
cpp_test/Resource.aps
cpp_test/Debug/vc110.pdb
*.suo
*.exe
*.ilk
*.log
*.pch
*.lastbuildstate
*.pdb
*.res
*.idb
/cpp_test/.vs
/cpp_test/Debug
/cpp_test/.vs/cpp_test/v15
/cpp_test/Debug
/use_mfc/.vs
/use_mfc/Debug
/use_mfc/.vs/use_mfc/v15/ipch/AutoPCH
/use_mfc/.vs/use_mfc/v15/Browse.VC.db
/use_mfc/.vs/use_mfc/v15/Browse.VC.opendb
